.order-form {
  text-align: center;
  margin-bottom: 16px;
}

.order-form__title {
  position: relative;
  padding-top: 20px;
  padding-bottom: 22px;
  color: #ff0000;

  @include fontMeasure(400, 24px, 28px);

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 320px;
    height: 19px;
    background-color: #029044;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 320px;
    height: 19px;
    background-color: #d51d21;;
  }
}

.order-form__title span {
  display: block;
  text-transform: uppercase;

  @include fontMeasure(700, 36px, 42px)
}

.order-form__slogan {
  margin-bottom: 16px;
  color: #ff0000;
  text-transform: uppercase;

  @include fontMeasure(700, 14px, 16px);

}

.order-form__input {
  width: 288px;
  height: 32px;
  padding: 8px 16px;
  margin-bottom: 16px;
  background-color: #e5e5e5;
  border: none;
  border-radius: 89px;

  &::placeholder {
    color: #979797;

    @include fontMeasure(400, 14px, 16px);
  }

  &:hover {
    background-color: rgba(#e5e5e5, 0.8);
  }

  &:focus {
    outline: none;
    border: 1px solid #979797;
  }
}

.order-form__stock {
  margin-bottom: 19px;
  color: #d51d21;

  @include fontMeasure(400, 14px, 16px);
}

.order-form__stock span {
  color: #000000;

  @include fontMeasure(700, 14px, 16px);
}

.order-form__button {
  width: 216px;
  height: 48px;
  margin-bottom: 16px;
  padding: 3px 22px;
  font-family: "Roboto", "Arial", sans-serif;;
  background: linear-gradient(0deg, rgba(213, 29, 33, 0.6) 0%, rgba(255, 255, 255, 0) 100%), #FF0000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 55px;
  color: $color-white;
  text-shadow: 0px 2px 3px #D51D21;
  border: none;
  box-sizing: border-box;
  cursor: pointer;

  @include fontMeasure(400, 36px, 42px);

  &:hover {
    background: linear-gradient(0deg, rgba(213, 29, 33, 0.6) 0%, rgba(255, 255, 255, 0) 10%), #FF0000;
  }
}

.order-form__delivery {
  width: 320;
  height: 63px;
  margin-bottom: 16px;
  padding: 16px 21px 19px 16px;
  background-color: #029044;
  color: $color-white;

  @include fontMeasure(400, 14px, 16px);
}

.order-form__sales {
  max-width: 288px;
  margin: 0 auto 16px auto;
  color: #d51d21;

  @include fontMeasure(400, 14px, 16px);
}

.order-form__sales span {
  color: #000000;

  font-weight: 700;
}
