.promo {
  margin-bottom: 16px;
}

.promo__guarantee {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 320px;
  height: 44px;
  margin-top: -3px;
  padding: 0 30px 0 16px;
  background-color: #f98000;
  color: $color-white;

  @include fontMeasure(400, 12px, 14px);
}

.promo__delivery {
  max-width: 175px;
  text-align: left;

  @include fontMeasure(400, 12px, 14px);
}

.promo__delivery span {
  font-weight: 700;
}
